html {
  --color-accent: oklch(71.988% 0.14851 43.028); 
  accent-color: var(--color-accent);
  --second-color: oklch(50% 0.1 260 / 90%)
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;

  header {
    margin-bottom: 1.5em;
  }
  h1 {
    color: var(--second-color); 
    font-size: 1.8rem;
  }

  label {
    position:absolute;
    top:1rem;
    right:1rem;
    font-size:80%;
    font-family: inherit;
  }
  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
    display: flex;
    margin: 0.5em;
    border-bottom: 1px solid;

    ul,li {
      display: contents;

    }

    a {
      flex: 1;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em;
      border-bottom: 0.4em solid transparent;

      &.current {
        border-bottom-color: var(--border-color);
        padding-bottom: 0.3em;
      }

      &:hover {
        border-bottom-color: var(--color-accent);
        background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
        padding-bottom: 0.3em;
      }
    }
  }

  form {

    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 1em;
    margin-top: 2.5em;

    label {
      display: contents;
      grid-column: 1 / -1;
    }

    input,
    textarea {
      font-family: inherit;
    }

    button {
      font-family: inherit;
      grid-column: 1 / -1;
    }
  }

    
  .projects {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

  }
  .projects article {
    grid-template-rows: subgrid;
    grid-row: span 3;
    h2 {
      margin: 0; 
      font-size: 150%;
      line-height: 1.1;
      text-wrap: balance;
    }
  }

  section {
    margin-top: 2.5em;
    margin-bottom: 2.5em; 
    h2 {
      border-bottom: 1px solid oklch(80% 3% 200); 
      padding-bottom: 0.2em;
      margin-bottom: 0.6em;
      font-size: 1.25rem;
      color: var(--color-accent) 
    }

    h3 {
      margin-top: 1.2em;
      margin-bottom: 0.4em;
      font-size: 1rem;
      color: var(--second-color); 
    }

    p {
      margin: 0.4em 0;
    }

    ul.fun {
      margin: 0.4em 0 0.8em 1.2em;
      list-style-type: none;
    } 

    ul.fun li  {
      padding-left: 1.8em;
      position: relative;
    }

    ul.fun li::before {
      content: "⭐";
      position: absolute;
      left:0 ;
      font-size: 1em;
      line-height: 1.5em;
    }

    strong {
      color: oklch(40.79% 0.06784 255.397)
    }
  }
}
