html {
  --color-accent: oklch(71.988% 0.14851 43.028);
  accent-color: var(--color-accent);
  --second-color: oklch(50% 0.1 260 / 90%);
  --border-color: oklch(50% 10% 200 / 40%);
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;

  header {
    margin-bottom: 1.5em;
  }
  h1 {
    color: var(--second-color);
    font-size: 1.8rem;
  }

  label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 80%;
    font-family: inherit;
  }
  nav {
    border-bottom-color: var(--border-color);
    display: flex;
    margin: 0.5em;
    border-bottom: 1px solid;

    ul,
    li {
      display: contents;
    }

    a {
      flex: 1;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em;
      border-bottom: 0.4em solid transparent;

      &.current {
        border-bottom-color: var(--border-color);
        padding-bottom: 0.3em;
      }

      &:hover {
        border-bottom-color: var(--color-accent);
        background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
        padding-bottom: 0.3em;
      }
    }
  }

  dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  dt {
    grid-row: 1;
  }

  dd {
    grid-row: 2;
  }

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    margin-top: 2.5em;

    label {
      display: contents;
      grid-column: 1 / -1;
    }

    input,
    textarea {
      font-family: inherit;
    }

    button {
      font-family: inherit;
      grid-column: 1 / -1;
    }
  }

  .projects {
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
  }
  .projects article img {
    width: 100%;
    height: 200px; /* or clamp() for responsiveness */
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  .projects article:hover img {
    transform: scale(1.05);
  }

  .projects article {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    grid-template-rows: subgrid;
    grid-row: span 3;
    h2 {
      margin: 0;
      font-size: 150%;
      line-height: 1.1;
      text-wrap: balance;
    }
  }

  section {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    h2 {
      border-bottom: 1px solid oklch(80% 3% 200);
      padding-bottom: 0.2em;
      margin-bottom: 0.6em;
      font-size: 1.25rem;
      color: var(--color-accent);
    }

    h3 {
      margin-top: 1.2em;
      margin-bottom: 0.4em;
      font-size: 1rem;
      color: var(--second-color);
    }

    p {
      margin: 0.4em 0;
    }

    ul.fun {
      margin: 0.4em 0 0.8em 1.2em;
      list-style-type: none;
    }

    ul.fun li {
      padding-left: 1.8em;
      position: relative;
    }

    ul.fun li::before {
      content: "⭐";
      position: absolute;
      left: 0;
      font-size: 1em;
      line-height: 1.5em;
    }

    strong {
      color: oklch(40.79% 0.06784 255.397);
    }
  }
}

.pie {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  overflow: visible;
  flex-shrink: 0;
}

path {
  transition: 300ms;
}

svg {
  &:has(path:hover) {
    path:not(:hover) {
      opacity: 0.5;
    }
  }
}

ul.legend {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  justify-content: start;
  row-gap: 0.3em;
  column-gap: 0.8em;
  list-style: none;
  padding: 0.5em;
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
}

li.legend_entry {
  display: flex;
  margin: 0.4em;
  gap: 0.3em;
  align-items: center;
  white-space: nowrap;
}

span.swatch {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1;
  background-color: var(--color);
  border-radius: 50%;
  gap: 0.1em;
}

.searchBar {
  display: flex;
  flex-basis: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.5rem;
  font-family: inherit;
  border: 2px solid var(--border-color);
  border-radius: 0.5em;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

path {
  cursor: pointer;
}

.gridlines {
  opacity: 0.2;
}
